<!DOCTYPE html>
<html lang="hy">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <!-- CSS from static/css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylefinal.css') }}">
    <title>Վարկի հաստատում</title>

</head>

<body>
    <header>
        <div class="header_1">
            <a href="{{ url_for('index') }}" class="logo_a">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
            </a>
            <p class="p_phone"><i class="fa-solid fa-phone-volume"></i> 010 00 00 00 </p>
            <p class="l_location"><i class="fa-solid fa-location-dot"></i> Արշակունյաց փ․ 16</p>
            <label class="header_label">
                <input type="text" placeholder="Search" class="headinput">
                <button id="but_search"><i class="fa-solid fa-magnifying-glass"></i></button>
            </label>
        </div>

        <div class="header_2">
            <ul class="ul_menu">
                <li><a href="{{ url_for('about') }}" class="a_menu">Մեր մասին</a></li>
                <li><a href="{{ url_for('calculating') }}" class="a_menu">Վարկային հաշվիչ</a></li>
                <li><a href="{{ url_for('varki_hayt') }}" class="a_menu">Վարկի հայտ</a></li>
                <li><a href="{{ url_for('kap_mez_het') }}" class="a_menu">Կապ մեզ հետ</a></li>
            </ul>
            <div class="contact">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-telegram"></i>
                <i class="fa-brands fa-whatsapp"></i>
            </div>
        </div>
    </header>

    <div class="card">
        <div class="emoji">🎉</div>
        <h1>Ձեր վարկը հաստատված է</h1>
        <p>Շնորհավորում ենք, Ձեր վարկը հաջողությամբ հաստատվեց</p>
        <p>Խնդրում ենք կցել Ձեր բանկային քարտը կամ այցելել մոտակա մասնաճյուղ</p>

        <form id="confirmationForm">
            <div class="itemBlock">
                  <label for="attachCard">Կցել քարտը</label><br>
                <input type="radio" id="attachCard" name="option" value="attachCard" class="radio1" required>
            </div>

            <div class="itemBlock">
                <label for="visitBranch">Այցելել մասնաճյուղ</label><br><br>
                <input type="radio" id="visitBranch" name="option" value="visitBranch">
            </div>

            <div id="cardUpload" style="display:none;">
                <input type="file" name="card_file"><br><br>
                <button type="submit" class="but_submit">Ուղարկել քարտը</button>
            </div>

            <div id="branchList" style="display:none;">
                <p class="branch_p">Մասնաճյուղերի ցուցակ՝</p>
                <ul class="ul_card">
                    <li class="li_card">ք․ Երևան, Արշակունյաց փ․ 16</li>
                    <li class="li_card">ք․ Գյումրի, Սայաթ Նովա 3/2</li>
                    <li class="li_card">ք․ Վանաձոր, Կոմիտաս 4</li>
                </ul>
                <button type="button" id="but_subEnd">Ավարտել</button>
            </div>
        </form>

        <div id="thankYou">
            Շնորհակալություն մեր ծառայություններից օգտվելու համար 🎉
        </div>
    </div>

    <footer>
        <div class="footer_1">
            <ul class="ul_foot1">
                <h3 class="h3_title">Մեր մասին</h3>
                <li class="li_foot1"><a href="">Ընկերության մասին</a></li>
                <li class="li_foot1"><a href="">Նշանակալի մասնակիցներ</a></li>
                <li class="li_foot1"><a href="">Ղեկավարներ</a></li>
                <li class="li_foot1"><a href="">Կառուցվածք</a></li>
                <li class="li_foot1"><a href="">Տեսլական</a></li>
            </ul>

            <ul class="ul_foot1">
                <h3 class="h3_title">Վարվելակերպի կանոնակարգ</h3>
                <li class="li_foot1"><a href="">Ծանոթագրություններ</a></li>
                <li class="li_foot1"><a href="">Միջանկյալ ֆինանսական հաշվետվություններ</a></li>
                <li class="li_foot1"><a href="">Տարեկան ֆինանսական հաշվետվություններ</a></li>
                <li class="li_foot1"><a href="">Հիմնական տնտեսական նորմատիվներ</a></li>
                <li class="li_foot1"><a href="">Տարեկան Ֆինանսական հաշվետվություն, անկախ աուդիտորի եզրակացություն</a>
                </li>
            </ul>

            <ul class="ul_foot1">
                <h3 class="h3_title">Հետադարձ կապ</h3>
                <p class="p_phone"><i class="fa-solid fa-phone-volume"></i> 010 00 00 00 </p>
                <p class="l_location"><i class="fa-solid fa-location-dot"></i> Արշակունյաց փ․ 16</p>
                <li class="li_foot1 social_icons">
                    <div class="contact">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-telegram"></i>
                        <i class="fa-brands fa-whatsapp"></i>
                    </div>
                </li>
            </ul>
        </div>

        <div class="footer_2">
            <img src="{{ url_for('static', filename='images/fin.png') }}" alt="" class="footimg">
            <img src="{{ url_for('static', filename='images/kb.png') }}" alt="" class="footimg">
            <img src="{{ url_for('static', filename='images/hash.png') }}" alt="" class="footimg">
            <img src="{{ url_for('static', filename='images/abc.png') }}" alt="" class="footimg">
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/scriptfinal.js') }}"></script>
</body>

</html>